
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: #000;
        /* cursor: none; */
    }


    /* 마우스 이동감지 포인터 */

    /* .circle {
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(30deg, #000000, #434343);
        width: 20px;
        height: 20px;
        transform: rotate(40deg) skew(5deg);
        z-index: 999;
    }  */


    /* 마우스 텍스트 */

    section {
        position: relative;
        display: flex;
        justify-content:center ;
        align-items: center;
    }
    
    section .mousetext {
        position: absolute;
        color: #000;
        font-size: 10px;
        user-select: none;
        pointer-events: none;
        animation: animate 7.5s linear infinite;
        z-index: 1000;
    }
    
    @keyframes animate {
    
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        
    }
    
    
    section .mousetext span{
        display: inline-block;
        top: -50px;
        text-transform: uppercase;
        position: absolute;
        transform-origin: 0 50px;
    }    
    

    body {
        font-family: 'Noto Sans KR', sans-serif;
        /* cursor: none; */
    }

    #wrap {
        margin: 0 auto;
    }

    .main-header {
         max-width: 1440px;
         width: 100%;
         height: 85px;
         margin: 0 auto;
         position: relative;
         display: flex;
         justify-content: space-between;
         align-items: center;
         overflow: hidden;
    }

    .header-wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .main-header .logo {
        float: left;
        margin-right: 50px;
    }

    .main-header .gnb{

    }

    .main-header .gnb ul{
        display: flex;
        justify-content: center;
    }

    .main-header .gnb ul li{
        margin-right: 30px;
        font-weight: normal;
    }

    .main-header .gnb ul li span{
        margin-left: 30px;
    }

    /* trial */


    .index-title-wrap {
        max-width: 1440px;
        margin: 0 auto;
        overflow: hidden;
        outline: 2px solid #858585;
        display: flex;

    }

    .trial_index {
        flex: 1;
        /* width: calc(100%/7); */
        height: 600px;
        outline: 1.5px solid #858585;;
        border-right: none;
        /* margin-left: 50px; */
        position: relative;
        transition-property: width;
        transition-duration: 2s;
        float: left;
        display: flex;
        
        
    }

    .trial_index.active:hover {
        width: 700px;
        height: 600px;
       
    }

    .trial_index:nth-child(7).active:hover {
        /* background: linear-gradient(35deg,#11998e 0% 50%,#38ef7d) */
    }   

    .trial_index.inactive {
        width: 123.3333px;
        
    }



    .trial_index .info.wrap {
        height: 500px;
        margin-left: 15px;
        position: relative;
        display: flex;
        flex-direction: column;
        float: left;
        margin-top: 20px;
    }
    
    

    .trial_index:hover .info.wrap .index-content {
        display: flex;
        overflow: hidden;
        width: 100px;
    }

    .trial_index.inactive .info.wrap .index-content{
        display: flex;
        overflow: hidden;
        width: 100px;
    }


    .trial_index .info.wrap h2{
        font-size: 16px;
        color: #858585;
        margin-bottom: 60px;
    }

    .trial_index .info.wrap > p{
        font-size: 20px;
        font-weight: 500;
        position: absolute;
        top: 15%;
        width: 160px;
    }

    .trial_index .info.wrap .index_barcode {
        position: absolute;
        top:45%;
        bottom: 100px;
        opacity: 0;
        transition: all 1s;
    }

    .trial_index.s1 .info.wrap .index_barcode:hover img{
        background-color: yellowgreen;
        -webkit-mask: url('../img/mainvisual_barcode.svg') no-repeat center;
        mask: url('../img/mainvisual_barcode.svg') no-repeat center;
    }
        
    .trial_index .info.wrap .index_barcode img{

    }

    .trial_index .info.wrap .index_barcode:hover {
        
    }

    .trial_index .info.wrap .index-content{
        position: absolute;
        top: 95%;
        font-size: 16px;
    }


    .trial_index .index_action {
        /* width: 655px;
        height: 500px;
        outline: 2px solid red;
        opacity: 0;
        transition: all 1s; */
        /* outline: 2px solid red; */
        overflow: hidden;
        opacity: 0;
        position: relative;
        margin-right: 20px;
    }

    .trial_index .index_action p{
        position: absolute;
        top: 60px;
        width: 450px;
        margin-right: 20px;
        margin-left: 120px;
        transition: linear;
        transition-duration: 2s;
        float: left;
        z-index: 15;

    }    
    

    /* detail-btn */

    .trial_index:hover .detail-btn {
        transition-duration: 3s;
    }

    .trial_index .index_action .detail-btn1 {
        position: absolute;
        top: 87%;
        left: 41%;
        text-transform: uppercase;
        width: 25%;
        padding: 3px 15px;
        line-height: 35px;
        display: inline-block;
        box-shadow: 3px 3px 6px #ddd;
        padding: 5px;
        border-radius: 15px;
        text-align: center;
        overflow: hidden;
    }

    .trial_index .index_action .detail-btn1:hover {
        color: #255784;
        background: #44f321;
        box-shadow: 0 0 10px #44f321,
                    0 0 40px #44f321,
                    0 0 80px #44f321;
        color: #fff;
        transition: linear;
        transition-duration: 0.1s;
    }

    /* detail-btn2 */

    .trial_index .index_action .detail-btn2 {
        position: absolute;
        top: 87%;
        left: 42%;
        transition: linear;
        transition-duration: 0.1s;
        text-transform: uppercase;
        width: 25%;
        padding: 3px 15px;
        line-height: 35px;
        display: inline-block;
        box-shadow: 3px 3px 6px #ddd;
        padding: 5px;
        border-radius: 15px;
        text-align: center;
        overflow: hidden;
    }

    .trial_index .index_action .detail-btn2:hover {
        color: #255784;
        background: #FF4C2C;
        box-shadow: 0 0 10px #FF4C2C,
                    0 0 40px #FF4C2C,
                    0 0 80px #FF4C2C;
        color: #fff;
    }
    
     /* detail-btn3 */

     .trial_index .index_action .detail-btn3 {
        position: absolute;
        top: 87%;
        left: 42%;
        transition: linear;
        transition-duration: 0.1s;
        text-transform: uppercase;
        width: 25%;
        padding: 3px 15px;
        line-height: 35px;
        display: inline-block;
        box-shadow: 3px 3px 6px #ddd;
        padding: 5px;
        border-radius: 15px;
        text-align: center;
        overflow: hidden;
    }

    .trial_index .index_action .detail-btn3:hover {
        color: #255784;
        background: #828282;
        box-shadow: 0 0 10px #828282,
                    0 0 40px #828282,
                    0 0 80px #828282,
                    0 0 100px #828282;
        color: #fff;
    }
    

    /* detail-btn4 */

    .trial_index .index_action .detail-btn4 {
        position: absolute;
        top: 87%;
        left: 42%;
        transition: linear;
        transition-duration: 0.1s;
        text-transform: uppercase;
        width: 25%;
        padding: 3px 15px;
        line-height: 35px;
        display: inline-block;
        box-shadow: 3px 3px 6px #ddd;
        padding: 5px;
        border-radius: 15px;
        text-align: center;
        overflow: hidden;
    }

    .trial_index .index_action .detail-btn4:hover {
        color: #255784;
        background: #0f0f0f;
        box-shadow: 0 0 10px #0f0f0f,
                    0 0 40px #0f0f0f,
                    0 0 80px #0f0f0f;
        color: #FFD233;
    }
    

    /* detail-btn5 */

    .trial_index .index_action .detail-btn5 {
        position: absolute;
        top: 87%;
        left: 42%;
        transition: linear;
        transition-duration: 0.1s;
        text-transform: uppercase;
        width: 25%;
        padding: 3px 15px;
        line-height: 35px;
        display: inline-block;
        box-shadow: 3px 3px 6px #ddd;
        padding: 5px;
        border-radius: 15px;
        text-align: center;
        overflow: hidden;
    }

    .trial_index .index_action .detail-btn5:hover {
        color: #255784;
        background: #4373CE;
        box-shadow: 0 0 10px #4373CE,
                    0 0 40px #4373CE,
                    0 0 80px #4373CE;
        color: #fff;
    }

    /* detail-btn6 */

    .trial_index .index_action .detail-btn6 {
        position: absolute;
        top: 87%;
        left: 42%;
        transition: linear;
        transition-duration: 0.1s;
        text-transform: uppercase;
        width: 25%;
        padding: 3px 15px;
        line-height: 35px;
        display: inline-block;
        box-shadow: 3px 3px 6px #ddd;
        padding: 5px;
        border-radius: 15px;
        text-align: center;
        overflow: hidden;
    }

    .trial_index .index_action .detail-btn6:hover {
        background: #ffdcc0;
        box-shadow: 0 0 10px #ffdcc0,
                    0 0 40px #ffdcc0,
                    0 0 80px #ffdcc0;
        color: #d36100;
    }


    /* detail-btn7 */

    .trial_index .index_action .detail-btn7 {
        position: absolute;
        top: 87%;
        left: 42%;
        transition: linear;
        transition-duration: 0.1s;
        text-transform: uppercase;
        width: 25%;
        padding: 3px 15px;
        line-height: 35px;
        display: inline-block;
        box-shadow: 3px 3px 6px #ddd;
        padding: 5px;
        border-radius: 15px;
        text-align: center;
        overflow: hidden;
    }

    .trial_index .index_action .detail-btn7:hover {
        color: #255784;
        background: #44f321;
        box-shadow: 0 0 10px #44f321,
                    0 0 40px #44f321,
                    0 0 80px #44f321,
                    0 0 100px #44f321;
        color: #fff;
    }
    
    
    .trial_index .index_action img{
        width: 495px;
        opacity: 0;
        margin-bottom: 80px;
        margin-top: 75px;
        margin-right: 20px;
        margin-left: 70px;
        transition: linear;
        transition-duration: 2s;
        float: left;
        
    }

    .trial_index:hover .index_action img{
        opacity: 1;
    }

    .trial_index:hover .index_action{
        opacity: 1;
    }

    .trial_index:hover .info.wrap .index_barcode{
        opacity: 1;
    }


     /* sitemap-modal  */


    .sitemap-modal {
        width: 100%;
        height: 300px;
        justify-content: center;
        display: flex;
        margin: 0 auto;
        top: 100px;
        position: absolute;
        display: none;
        z-index: 99;
    }


    .sitemap-modal.on {
        display: block;
        width: 100%;
        background: #fff;
        height: 700px;
        top: 80px;
    }

    .sitemap-modal > ul {
        /* outline: 1px solid red; */
        display: flex;
        justify-content: space-between;
        width: 1440px;
        height: 600px;
        overflow: hidden;
        margin: 0 auto;
        padding: 80px 164px;
        background: #fff;
        border: 2px solid #858585;

    }

    .sitemap-modal > ul li span {
        position: absolute;
        right: 0;
    }

    .sitemap-modal > ul > li{
        width: calc(100%/4);
        float: left;
        font-size: 30px;
        /* outline: 1px solid red; */
        position: relative;
        margin-left: 70px;
    }

    .sitemap-modal > ul > li:first-child{
        /* margin-left: 0; */
    }

    .sitemap-modal .sitemap-sub {
        margin-top: 60px;
        display: block;
    }

    .sitemap-modal .sitemap-sub li{
        margin-bottom: 17px;
    }

    .sitemap-modal .sitemap-sub > li > a {
        font-size: 20px;
        font-weight: 400;
    }

    .sitemap-modal .sitemap-sub > li:hover > a {
        font-weight: 700;
        color: #858585;
    }


    /* footer */


    footer {
        width: 100%;
        height: 80px;
        /* outline: 2px solid red; */
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    footer .footer-wrap {
        width: 45%;
        display: flex;
        /* outline: 2px solid red; */
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    footer .footer-wrap h3 {
        font-size: 24px;
        font-weight: 500px;
        color: #555;
    }

    footer .footer-wrap h3 > span{
        margin-left: 20px;
    }

    footer div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        font-size: 18px;
    }

    footer .phone {

    }

    footer .phone > p,
    .email > p{
        margin-left: 20px;
    }


    /* detail-modal */

    .window-gray {
        position: fixed;
        background-color: rgba(0,0,0,0.4);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 998;
        display: none;
    }

    .window-gray.on {
        display: block;
    }

    .detail-modal {
        width: 70%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
        /* display: none; */
        margin: 0 auto;
        overflow-y: scroll;
        border: 1px solid rgb(217, 216, 216);
        display: none;
    }

    .detail-modal.on {
        display: block;
    }

    .detail-modal img{
        width: 100%;
    }
    
    

    /* About me */


    /* dalbam */

    .aboutme-bgcolor {
        background: #0a2a43;
        min-height: 1500px;
        color: ;
    }
    
    .dalbam {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    .dalbam::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, #0a2a43, transparent);
        z-index: 10000;
        mix-blend-mode: color;
    }
    
    .dalbam img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
    
    #text {
        position: relative;
        color: #fff;
        font-size: 10em;
        z-index: 1;
    }
    
    #road {
        z-index: 2;
    }
    
    

    